@font-face {font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #131315;}
body{font-weight: 400; font-style: normal; font-size: 14px; line-height: 22px; color: #131315;
  font-family: 'Pretendard-Regular';}

body{position: relative;}
footer{position: absolute; bottom: 0;}

/* 헤더 */
header{background-color: #fbfeff;position: relative; }
.header_inner{width: 1200px; height: 122px; margin: auto;  }
.header_inner h1{float: left; padding: 50px 0 0; display: block; }
.nav li a:hover{color: #2764b0;}
.nav> li{float: left; font-weight: bold;  padding: 50px 43px 0;}

li a{display: block; padding-bottom: 20px; }
.nav{float: right; }
.sub{background-color: rgba(0, 172, 236, 0.7); position: absolute; width: 100%; left: 0; 
padding: 10px 0; z-index: 99; }
.sub div{width: 1200px; margin: auto;  }
.mg{width: 135.52px;  margin-left: 593px; text-align: center; }
.mg li a:hover{color: #2764b0;}
.sub ul{float: left; width:131px; text-align: center; }
.sub ul li{padding: 15px 0; }
.sub a{color: #fbfeff ; }

.sub{display: none;/*서브메뉴 안보이게 만들기*/ }
.nav li:hover .sub{display: block;/*서브메뉴 보이게 만들기*/ } 

.secondnav{background-color: #00aeef;}
.secondul li a:hover{text-decoration: underline;}
.secondnavinner{margin: auto; height: 50px;  width: 1200px;}
.secondnavinner ul{float: right; padding-right: 43px;}
.secondnavinner li{float: left; color: #fbfeff; padding-left: 30px; padding-top: 15px; }
.secondnavinner li a{color: #fbfeff; font-size: 14px;}
.secondnav .secondli a{color: #00237b; font-weight: 900;} /*파랑 메뉴*/ 



h2{color: #00237b ; text-align: center; font-size: 40px; font-weight: 1000; padding-top:60px;}

h3{color: #00237b ; font-size: 18px; text-align: center; font-weight: 600; padding: 60px 0 60px 0;}

.total{background-image: url(images/yourcoffeebackground.jpg); height: 1010px; }

.thcolor a{font-size: 18px; color: #00aeef;}

form{text-align: center;}
.btn{text-align: center; padding: 30px 0 0 0;}
input[type="submit"]{border: 0; background-color: #00aeef; color: #fbfeff; padding: 10px 30px;
  font-weight: 700; border-radius: 50px; margin: auto;}
.color:hover{background-color: #00237b;}

.box{background-color: #fbfeff; width: 800px;  margin: auto; 
  padding: 100px 0; border-radius: 30px;}

tr{margin: auto;}
.mail{border: 1px solid #00aeef; border-radius: 50px; width: 400px; height: 45px; margin: 0 20px;}

/*푸터*/
footer{background-image:url(images/footer.png); height: 361px; margin: auto; position: absolute;
left: 0; width: 100%; bottom: -216px;} 
.footer_inner{width: 1200px;  margin: auto; padding-top: 120px;}
.footer_inner p{color: #fbfeff; line-height: 30px; clear: both; }
.footer_inner span{color: rgba(251, 254, 255, 0.4);}

.left{float: left; }
.right{float: right; }
.right li{float: left;  padding: 0 20px 5px 0; opacity: 0.7 ; display: block; }
.right li:hover{opacity:1}


.second{clear: both;}
.second li{float: left; color: #fbfeff; padding: 0 20px 5px 0;}
.second li a:hover{color: #00aeef ;}
.second a{font-weight: 700; color: #fbfeff;}

table{margin: auto;}